/* You can add global styles to this file, and also import other style files */
body{
    margin: 0%;
    background-image: url("src/app/imagens/bg.jpg");
    background-size: cover;
}
.margem-esquerda{
    margin-left: 20px;
}