<nav>
    <div class="navbar">
      
        <p>Aulas</p>
        <a [routerLink]="['/home']" routerLinkActive="nav-active">Home</a>
        <a [routerLink]="['/calculadora']" routerLinkActive="nav-active">Calculadora</a>
        <a [routerLink]="['/readmegenerator']" routerLinkActive="nav-active">Generator</a>
        <a [routerLink]="['/evAndRef']" routerLinkActive="nav-active">evAndRef</a>
        <a [routerLink]="['/experiment']" routerLinkActive="nav-active">Experiments</a>
        <a [routerLink]="['/fichaAnimal']" routerLinkActive="nav-active">Ficha Animal</a>  
   </div>
 </nav>