<nav>
    <div class="navbarMain">
      
        <p>Aulas</p>
        <a [routerLink]="['/home']" routerLinkActive="navMain-active">Home</a>
        <a [routerLink]="['/calculadora']" routerLinkActive="navMain-active">Calculadora</a>
        <a [routerLink]="['/readmegenerator']" routerLinkActive="navMain-active">Generator</a>
        <a [routerLink]="['/evAndRef']" routerLinkActive="navMain-active">evAndRef</a>
        <a [routerLink]="['/experiment']" routerLinkActive="navMain-active">Experiments</a>
        <a [routerLink]="['/fichaAnimal']" routerLinkActive="navMain-active">Ficha Animal</a>  
   </div>
 </nav>